[2022-09-13 13:18] #110 closed

[2022-09-13 13:19] davidlago commented on #113
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #113 closed

[2022-09-13 13:19] davidlago commented on #114
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #114 closed

[2022-09-13 13:19] davidlago commented on #118
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #118 closed

[2022-09-13 13:19] davidlago commented on #235
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #235 closed

[2022-09-13 13:19] #711 closed

[2022-09-13 13:19] davidlago commented on #125
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #125 closed

[2022-09-13 13:19] davidlago commented on #131
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #131 closed

[2022-09-13 13:19] davidlago commented on #140
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:19] #140 closed

[2022-09-13 13:20] davidlago commented on #149
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:20] #149 closed

[2022-09-13 13:21] davidlago commented on #170
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:21] #170 closed

[2022-09-13 13:21] #173 closed

[2022-09-13 13:21] davidlago commented on #192
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:21] #192 closed

[2022-09-13 13:21] #712 closed

[2022-09-13 13:22] davidlago commented on #198
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #198 closed

[2022-09-13 13:22] davidlago commented on #213
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #213 closed

[2022-09-13 13:22] davidlago commented on #490
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #490 closed

[2022-09-13 13:22] davidlago commented on #225
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #225 closed

[2022-09-13 13:22] #230 closed

[2022-09-13 13:22] #239 closed

[2022-09-13 13:22] davidlago commented on #274
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #274 closed

[2022-09-13 13:22] davidlago commented on #283
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #283 closed

[2022-09-13 13:22] davidlago commented on #285
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] davidlago commented on #286
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:22] #286 closed

[2022-09-13 13:23] davidlago commented on #713
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #713 closed

[2022-09-13 13:23] davidlago commented on #447
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #447 closed

[2022-09-13 13:23] davidlago commented on #520
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #520 closed

[2022-09-13 13:23] davidlago commented on #529
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #529 closed

[2022-09-13 13:23] davidlago commented on #569
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #569 closed

[2022-09-13 13:23] davidlago commented on #571
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #571 closed

[2022-09-13 13:23] davidlago commented on #572
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #572 closed

[2022-09-13 13:23] davidlago commented on #598
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:23] #598 closed

[2022-09-13 13:25] davidlago commented on #741
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] #741 closed

[2022-09-13 13:25] davidlago commented on #656
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] davidlago commented on #654
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] #654 closed

[2022-09-13 13:25] davidlago commented on #663
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] #663 closed

[2022-09-13 13:25] davidlago commented on #671
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] #671 closed

[2022-09-13 13:25] davidlago commented on #683
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] #683 closed

[2022-09-13 13:25] #684 closed

[2022-09-13 13:25] #704 closed

[2022-09-13 13:25] davidlago commented on #701
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:25] #701 closed

[2022-09-13 13:26] davidlago commented on #708
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #708 closed

[2022-09-13 13:26] davidlago commented on #721
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #721 closed

[2022-09-13 13:26] davidlago commented on #732
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #732 closed

[2022-09-13 13:26] davidlago commented on #733
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #733 closed

[2022-09-13 13:26] davidlago commented on #734
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #734 closed

[2022-09-13 13:26] davidlago commented on #735
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #735 closed

[2022-09-13 13:26] davidlago commented on #738
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #738 closed

[2022-09-13 13:26] davidlago commented on #737
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #737 closed

[2022-09-13 13:26] davidlago commented on #739
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #739 closed

[2022-09-13 13:26] davidlago commented on #744
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:26] #744 closed

[2022-09-13 13:26] davidlago commented on #750
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #757 closed, assigned to nobody

[2022-09-13 13:27] davidlago commented on #761
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #761 closed

[2022-09-13 13:27] davidlago commented on #767
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #767 closed

[2022-09-13 13:27] davidlago commented on #776
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #776 closed

[2022-09-13 13:27] davidlago commented on #798
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #798 closed

[2022-09-13 13:27] davidlago commented on #866
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #866 closed

[2022-09-13 13:27] davidlago commented on #802
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:27] #802 closed

[2022-09-13 16:01] kgcreative commented on #767
Thanks, Dave!

@KrooshalUX - let's track this (closed) issue when we do our first pass at an OUI theme

[2022-09-13 16:07] peternied commented on #767
@kgcreative Would you like to reopen this issue so it can be tracked?

[2022-09-13 16:10] kgcreative commented on #767
@peternied - not yet. We will re-open when we're ready to action on it.

[2022-09-13 18:33] guillaumeldc opened #1098 "[BUG] nextUrl is not using basePath or base_redirect_url in OpenID authentication"
**What is the bug?**
When logging in using base_redirect_url (e.g https://my-domain/basePath/), the redirection after successful login is done to "/" instead of base_redirect_url. When adding /app/home/ to initial login request  (e.g. https://my-domain/basePath/app/home), the redirect is done properly.

**version**
Opensearch 2.2.1

**How can one reproduce the bug?**
Steps to reproduce the behavio

[2022-09-14 05:48] amanthakur opened #1101 "login page text is not customized"
anyone can me tell me how i can customize login page text in [OpenSearch]

@opensearch-ci-bot

[2022-09-14 13:03] pratikshavyas opened #1099 "Issue in Opensearch dashboards redirection as it is not considering basePath or base_redirect_url after OpenID authentication"
**What is the bug?**
On access of opensearch dashboards v2.2.1, Redirection is not considering value set for basePath and opensearch_security.openid.base_redirect_url as it is redirecting to "/" after authentication with openid.

**How can one reproduce the bug?**
Configure opensearch dashboard v2.2.1 to use openid authentication and also server.basePath: "/yourbasepath"
Try to access the GUI

**W

[2022-09-14 20:20] iavael commented on #21
For someone who experience same problem and found this issue: change "challenge" value in basic_internal_auth_domain section to "false".
By the way it's mentioned in documentation (https://opensearch.org/docs/latest/security-plugin/configuration/openid-connect/#opensearch-security-configuration): "Make sure you set the challenge flag to false."

[2022-09-14 20:34] #1084 closed

[2022-09-15 09:42] amanthakur commented on #1101
@kavilla can you give me the path of security dashboards plugin.

[2022-09-15 17:00] indiealexh commented on #516
Has there been any work toward a full solution to this issue? The size of my token should not be a factor here.

[2022-09-15 17:12] indiealexh commented on #1100
Likely a duplicate of #516

[2022-09-15 19:44] dparker18 commented on #1031
This is already a breaking change in 2.x. Currently there is no way to use SAML as far as I can tell. Is there a recommended workaround until 3.0.0 comes out?

[2022-09-16 09:27] amanthakur commented on #915
@peternied

,external_osdSharedDeps_React_default.a.createElement(external_osdSharedDeps_ElasticEui_["EuiText"],{size:"m",textAlign:"center"},props.config.title|| ("please login open Search Dashboard ")

i want this with my custom text but when i am changing it my custom text is not visual on login page there is same  text please anyone  can help me change this ????

[2022-09-18 07:55] kzinas-adv commented on #1031
Use _opendistro for SAML endpoint  (https://example.com/_opendistro/_security/saml/acs)
and
[code]

[2022-09-19 17:51] llermaly commented on #836
News on this? @axl8652 could you upgrade?

[2022-09-19 19:20] axl8652 commented on #836
Yes I was able to upgrade and use saml in 2.2.0 and now it's working in 2.3.0 as well.

[2022-09-20 14:37] ahopp commented on #926
@peternied @davidlago Can we open this ticket back up and see what we can do to resolve? Or should we track the new here: https://github.com/opensearch-project/security-dashboards-plugin/issues/831?

[2022-09-20 19:32] ict-one-nl commented on #828
Any news on this one? This is one of the reasons I can't migrate an Elastic cluster to Opensearch because the team doesn't want tot deal with this session error.

[2022-09-20 20:32] llermaly commented on #836
Confirming version 2.3.0 works with the `/_opendistro/_security/saml/acs` endpoint, was expecting the _plugin one but this is fair enough

[2022-09-26 08:41] gdiazlo commented on #656
@davidlago this is still happening to us in Openserach 2.3.0. The logout URL does not seem to exist, and the logout functionality does not work, crashing opensearch-dashboards.

[2022-09-26 09:00] jgough opened #1111 "[FEATURE] Make Clickable "Switch tenants" and "Log out" links full width to make them more consistent and easier to click"
I'm always frustrated when switching tenants with the _Switch tenants_ or clicking the _Log out_ link.  The clickable area is fairly small and usability could be improved by making the link full width.  This would bring it into line with most other UI elements in Dashboards which have full-width links.

Note the link does not extend to the mouse location here:
![image](https://user-images.githubus

[2022-09-26 18:48] peternied commented on #1098
[Triage] Thanks for filing

[2022-09-26 18:52] RyanL1997 commented on #1100
Thanks for filling this, and we are closing this because we confirm there is a duplicate issue of #516

[2022-09-26 18:52] #1100 closed

[2022-09-26 18:59] RyanL1997 commented on #1101
Thanks for opening this, we will have one look at it.

[2022-09-26 19:06] RyanL1997 commented on #1098
linking issues #1099 and https://github.com/opensearch-project/security/issues/2095

[2022-09-26 19:06] scrawfor99 commented on #1101
I will take a look at this and get back to you @amanthakur.

[2022-09-26 19:07] RyanL1997 commented on #1099
Tracking related issue: #1098 and closing this.

[2022-09-26 19:08] #1099 closed

[2022-09-26 19:19] RyanL1997 commented on #1111
Thank you for filling this. We will take a look at this.

[2022-09-27 16:22] scrawfor99 commented on #1101
Hi @amanthakur,

I was able to gather some resources that may be helpful:

https://opensearch.org/docs/latest/dashboards/branding/ -- Dashboards branding tutorial
https://github.com/opensearch-project/OpenSearch-Dashboards -- Dashboards github repo

Right now, I do not believe it is possible to directly modify the login page style setting with the opensearch_dashboards.yml file; however it is stil

[2022-09-29 16:45] dblock commented on #1034
Could we please double check that:

- [ ] main is building 3.0
- [ ] 2.x is building next 2.x, which is currently 2.4.0
- [ ] 2.3 is building next 2.3, which is 2.3.1
- [ ] manifests in https://github.com/opensearch-project/opensearch-build/tree/main/manifests include all 3

[2022-09-29 18:22] shanilpa commented on #819
Thanks for raising this issue.
The UX team suggests the following solution:

1. When a user selects the custom tenant option without a selection from the dropdown (EUISelect/OUISelect) we disable the "Confirm" CTA preventing the user from proceeding or erroring out
![image](https://user-images.githubusercontent.com/113368824/193111766-64c23089-db04-41d4-843b-99235af17e18.png)

2. Once a selection

[2022-09-29 20:06] peternied commented on #1034
Keeping this open until the final checklist has been completed

[2022-10-01 03:47] linuxboyng commented on #1059
I've ran into this same issue and have had to put the saml as "order": 0 and the basic internal auth as "order": 1 to make the saml actually work.  But now I can't issue any REST APIs via the basic auth. The REST API endpoints are now not available via basic auth or no auth. So I am experiencing the opposite of what you stated.

[2022-10-01 04:10] linuxboyng commented on #1059
What happened to this plugin from 1.x to 2.x that made this break?  I was able to have basic internal auth with an order of 0 and saml with an order of 1 enabled in 1.x.  Then in 2.x I have to set saml as order 0 to even get it to work.  But now I can't interact with the cluster via the REST API using the internal db with basic auth.

[2022-10-03 19:08] scrawfor99 commented on #1034
I will take care of this @scrawfor99

[2022-10-04 15:54] #819 closed

[2022-10-04 18:49] scrawfor99 commented on #1034
@peternied, currently main is building 2.4.0; 2.x is building 2.4.0; 2.3 is building 2.4.0 for fixing main and 2.3, do I simply adjust the version numbers in the config files or should I move the head backwards for 2.3 as well?

[2022-10-04 19:13] #1089 closed

[2022-10-05 14:28] aoguan1990 opened #1124 "[FEATURE]Enable Anonymous Login along with OIDC Authentication in Multiple Authentication Mode"
**Is your feature request related to a problem?**
[#74](https://github.com/opensearch-project/dashboards-anywhere/issues/74)

**What solution would you like?**
User Experience:
1. Single Authentication Mode:
- User is redirected to Login as Anonymous User for the first time login
- User is redirected to Login Page after Anonymous User log out
- User can choose to login as a regular user from Login

[2022-10-06 15:01] scrawfor99 opened #1133 "Incorrect Element Types for Menu Container & Menu items"
@shanilpa pointed out several potentially incorrect element types we are using:

Currently we are using EUIContextMenu and then EUIFlexItems for numerous menus i.e. the account navigation dropdown. The combination of these two elements is incorrect and leads to faulty UX.

Proposed: In situations where we require a contextual menu we should make use of [OUIContextMenu / EUIContextMenu](https://eui

[2022-10-06 17:46] shanilpa commented on #1111
Thanks for submitting this issue @jgough.
Issue #1133 seems to point to the problem. The @.opensearch-project/security-team will look into this.

[2022-10-06 18:45] #1034 closed

[2022-10-06 19:59] RyanL1997 commented on #1101
Hi @amanthakur,

I think we do support the customization of basic auth's login button style and branding image for current version. You can modifying these by adding the feature flags of:
`opensearch_security.ui.basicauth.login.buttonstyle` and `opensearch_security.ui.basicauth.login.brandimage`

In addition, there is a feature PR [https://github.com/opensearch-project/security-dashboards-plugin/p

[2022-10-06 20:20] RyanL1997 commented on #1124
Hi, @aoguan1990. Thank you for this feature suggestion!

As additional information, the reason to add this feature:

For the current behavior of security dashboard plugin, if we enable the anonymous login by adding the feature flag, it will skip the basic auth login page and directly access into the home page of dashboard. However, if the user logout as the anonymous user, the current design will

[2022-10-07 12:38] RobinGoussey commented on #210
Hi, I took me a while to figure out as well, this property is missing from any documentation, perhaps this could be added @davidlago ?
I was trying to find out how to add a root_ca, but couldn't find anything in any docs or google search, I found it by looking at the code:
opensearch_security.openid.root_ca: my_dir/root_ca.pem

[2022-10-07 20:24] jimishs commented on #891
I believe this a side effect of how short URLs are generated (by writing to a protected index). I believe we should consider to support this for readonly users by improving the implementation to meet the needs of the user.

I am also open to hear reasons on why we should not support this for readonly users.

@elfisher @ahopp would appreciate any insights. Thanks

[2022-10-08 16:30] wantdrink opened #1138 "[BUG] Setup OpenID Connect with Latest Opensearch/Dashboards and Keycloak"
Hi there,

I've installed opensearch + dashboards 2.3.0 with the latest chart. Also Keycloak  bitnami/keycloak:19.0.2.
After configured as https://opensearch.org/docs/latest/security-plugin/configuration/openid-connect/#opensearch-dashboards-single-sign-on describes, and log in opensearch dashboard, it failed with:
`{"statusCode":401,"error":"Unauthorized","message":"Unauthorized"}`

**To Reproduc

[2022-10-10 13:30] davidlago commented on #210
Thanks for the follow-up! I've gone ahead and created https://github.com/opensearch-project/documentation-website/issues/1499 to add it to our docs!

[2022-10-10 13:41] davidlago commented on #656
Thanks @gdiazlo, reopening issue.

[2022-10-10 13:47] davidlago commented on #831
This looks like it was successfully backported/released for 2.2, closing

[2022-10-10 13:47] #831 closed

[2022-10-10 13:48] davidlago commented on #926
Is this still happening after 2.2? it looks like it did go out in that version https://github.com/opensearch-project/security-dashboards-plugin/pull/1054

[2022-10-10 14:29] elfisher commented on #891
What should the expectations of the user be here? I would think if the user it was shared with has permissions to the objects loaded in the page, then the URL should be loadable by that user.

[2022-10-10 20:01] scrawfor99 commented on #1133
@shanilpa, we are going to wait until you get a draft of the rest of the related design and then someone will tackle this along with your changes.

[2022-10-11 01:21] cliu123 commented on #1138
@aoguan1990 is right. I mean Kerboros is not supported. OIDC is supported.

[2022-10-11 02:51] jimishs commented on #891
@elfisher The URL itself is loadable, but the issue is with current implementation for creating a share saved object short URL link, which seems to check if a user has write permissions to the tenant index, in order to generate a shareable URL. I think the user experience we should strive for is - If a user has permissions to view an object, they should also be able to generate a shareable short U

[2022-10-11 13:01] elfisher commented on #891
That makes sense and sounds reasonable. @kavilla and @davidlago I'd love to get your thoughts on what the right way forward is to enable this experience.

[2022-10-11 16:34] #983 closed

[2022-10-12 09:43] anijain-Amazon commented on #1057
This has been fixed and back-ported to all versions from `1.0` to `1.3`
It is also available in `2.x` and `2.3` branches.

[2022-10-12 09:43] #1057 closed

[2022-10-12 18:21] peterzhuamazon opened #1140 "Release Version 2.4.0"
Release Version 2.4.0

This is a component issue for __2.4.0__.
Coming from [opensearch-build#2649](https://github.com/opensearch-project/opensearch-build/issues/2649). Please follow the following checklist.
__Please refer to the DATES / CAMPAIGNS in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch

[2022-10-14 11:24] wkruse opened #1141 "[BUG] OpenID Connect login nextUrl drops URL hash"
**What is the bug?**
In Opensearch Dashboards URL hash encodes the state of a visualization (state could be the filters to apply, the time range etc). Currently for OpenID Connect based authentication when user logins/re-logins the url hash is being dropped because of redirecting to the IDP.

**How can one reproduce the bug?**

Steps to reproduce the behavior:
1. Setup OpenID Connect based authent

[2022-10-15 02:20] linuxboyng commented on #1138
@wantdrink I too had this problem (but with Okta OpenID) and resolved it with opensearch setting `plugins.security.cache.ttl_minutes: 0`  https://opensearch.org/docs/latest/security-plugin/configuration/configuration/#configure-json-web-tokens

What clued me onto this setting was I was able to get it to work in a docker-compose setup on the same machine but when I separated the dashboard to a diff

[2022-10-17 19:23] cliu123 commented on #1124
What happens with this issue - When anonymous auth is enabled, logout redirects to basic auth login page, so anonymous user cannot log in anymore.

[2022-10-17 19:30] scrawfor99 commented on #1141
[TRIAGE] @cliu123 tagging you for follow-up with Jimish. Added to sprint backlog for reviewing the provided fix and then adapting the pull request to match new issue.

[2022-10-17 19:31] scrawfor99 commented on #1140
[TRIAGE] @peternied will lead this and I (@scrawfor99) will assist.

[2022-10-17 20:12] linuxboyng commented on #1138
@wantdrink I too had this problem (but with Okta OpenID) and resolved it with opensearch setting `plugins.security.cache.ttl_minutes: 0`  https://opensearch.org/docs/latest/security-plugin/configuration/configuration/#configure-json-web-tokens

What clued me onto this setting was I was able to get it to work in a docker-compose setup on the same machine but when I separated the dashboard to a diff

[2022-10-19 07:41] anubisg1 opened #1148 "[BUG] unable to Hide unmapped backend roles"
**What is the bug?**
I have linked opensearch to our active directory domain.
I also mapped some AD groups to the proper roles…

everything works but i noticed that Dashboards exposes too much information to the users…
specifically when a user clicks on “view roles and identities” the user can see every Active Directory group the user name is linked to (as backend roles) even if that group is neve

[2022-10-19 17:34] peternied commented on #1148
@anubisg1 Thanks for filing, quick note, I saw the masking that was originally done on the attached image didn't prevent reading some of the role names.  I have edit the original image that was uploaded with 'stronger mask' to prevent anything from being disclosed.

[2022-10-20 01:46] aoguan1990 opened #1150 "[FEATURE]Automation Test for OIDC"
**Is your feature request related to a problem?**
Automation test for OIDC authentication methodology

**What solution would you like?**
OIDC Test Scope includes:
1. Configuration and input validation Test Cases (Positive and Negative)
2. First-Time Login Test Cases (Positive and Negative)
3. Utilize cookie re-Login Test Case (Positive and Negative)
4. Logout Test Cases (Positive and Negative)
5.

[2022-10-20 08:49] amanthakur commented on #1101
@RyanL1997 @scrawfor99  I have changed it.  you can find the text running this command  ( grep -rnw / -e 'OpenSearch Dashboards' )  and there is file that name is **index.js** where you can change it .  :)

[2022-10-20 09:38] anubisg1 commented on #1148
Thank you for the extra attantion.

[2022-10-20 13:41] #1013 closed

[2022-10-24 13:53] zakirpcs opened #1153 "[BUG] apache proxy based authentication"
**Describe the bug**

I want to login into opensearch-dashboards through apache proxy. Is there any official documents for that? By the way i have been following https://opensearch.org/docs/latest/security-plugin/configuration/proxy/ this documents but its did not work for me. Also note that my opensearch-dashboards version is 2.2.0.

[2022-10-24 19:27] scrawfor99 commented on #1153
[Triage] Hi @zakirpcs, thank you for filing this issue, I would encourage you to take a look at the forums over at https://forum.opensearch.org/c/security/3. You issue may already be addressed over there.

If you still find yourself encountering an issue, please create another issue linking to this issue and specifying the specific error/logs you are encountering. Thank you.

[2022-10-24 19:27] #1153 closed

[2022-10-24 19:43] scrawfor99 commented on #1148
[Triage] Hi @anubisg1, thank you for filing an issue on this feature. @cwperks will follow up with you on this issue. Thank you.

[2022-10-24 22:14] cwperks commented on #1148
@anubisg1 I took a cursory glance and based on the codepath. It doesn't appear like `nested_role_filter` is filtering on the high level roles.

See: https://github.com/opensearch-project/security/blob/main/src/main/java/com/amazon/dlic/auth/ldap/backend/LDAPAuthorizationBackend.java#L879-L885

On the last line highlighted it is adding all of the roles to a set and later returning.

Judging by the

[2022-10-25 21:52] cliu123 opened #1156 "[Maintenance] Enable CI Workflows to Re-use Setup Steps"
**Is your request related to a problem?**

The request comes from [a PR review comment](https://github.com/opensearch-project/security-dashboards-plugin/pull/1146#discussion_r1001149910).

**What solution would you like?**

The request is about enabling different CI workflows to re-use [the setup steps](https://github.com/opensearch-project/security-dashboards-plugin/pull/1146#discussion_r10011499

[2022-10-26 13:16] scrawfor99 commented on #1140
Task Update: Contacted PIT asking if there was anything they needed finalized before the freeze; reviewed all tasks; everything is labeled v2.4.0 (already done).

[2022-10-26 14:39] dobharweim commented on #516
@zengyan-amazon We are seeing the same issue. Our IdP sends back all group memberships by default - they can return all groups or no groups but not a custom selection. Some of our members (me included 😅) are members of 70+ groups!

I was wondering if we could look at a minimum impact fix, maybe add an parameter to the config which would contain group names that we are interested in for opensearch,

[2022-10-26 20:12] bbarani commented on #845
@cwperks Can you please update the current status?

[2022-10-26 20:30] cwperks commented on #845
@peternied Please provide on update on running CI on windows

For the issue of not having a batch equivalent of the `install_demo_configuration.sh` (https://github.com/opensearch-project/security/issues/2148) there is a PR, but we are facing an issue with the automated validation of the change against main.

The `plugin_install` workflow has been extended to verify the installation on both linux a

[2022-10-26 20:45] peternied commented on #845
This is queued up to be worked on next, as soon as I get the backend plugin ready for review for CI on Windows https://github.com/opensearch-project/security/pull/2190

[2022-10-27 10:07] albgus opened #1165 "[BUG] OpenSearch Dashboards keep asking to select Tenant with multi-tenancy disabled"
**Describe the bug**

A have a newly provisioned OpenSearch cluster with minimal configuration. Due to that multi-tenancy is not enabled. Yet OpenSearch dashboards keep showing this popup asking me to select a tenant, which isn't possible because multi-tenancy is not enabled. This happend every time opening OpenSearch Dashboards or opening a new tab.

**To Reproduce**
Steps to reproduce the behavi

[2022-10-27 17:13] DenBM commented on #907
It would be great to use kerberos auth with dashboards, so..
Сan we wait the fix in the near future/release?

[2022-10-27 19:30] cliu123 opened #1160 "[Refactor] Different Values Pointing to Basic Auth, Need to Unify"
**What is the request?**
`''`, `'basicauth' and `AuthType.BASIC` all end up with pointing to basic auth. Thare are quite a few occurrences in the code base, which needs to be unified.
Request coming from a PR review comment: https://github.com/opensearch-project/security-dashboards-plugin/pull/1110/files#r1007282740

[2022-10-27 20:33] cliu123 opened #1161 "[Refactor] User Visible Texts Need to Support Internationalization/Translation(i18n)"
**What is the request?**
The title tells what this issue asks for. The request comes from a PR review comment that requires repo-wide refactoring: https://github.com/opensearch-project/security-dashboards-plugin/pull/1110#discussion_r1006998786

[2022-10-27 21:08] aoguan1990 opened #1162 "[Refactor] Refactor authentication_type implementation to improve the efficiency to get cookie"
What is the request?
Cookie is queried by API multiple times in authentication_type. Refactor is needed for abstract methods in authentication_type to improve the efficiency to get cookie.
` // To Do: refactor this method to improve the effiency to get cookie, get cookie from input parameter`
Request coming from a PR review comment: https://github.com/opensearch-project/security-dashboards-plugin/

[2022-10-27 21:36] aoguan1990 opened #1163 "[BUG] Failed to register OIDC Routers with OpenSearch Dashboards Client"
**What is the bug?**
OIDC authentication handlers failed to register with OpenSearch Dashboards (OSD) client randomly after OSD reboots. Due to this reason, OSD users will encounter  `Unauthenticated Exception`.

Issues is addressed along with [PR #1110](https://github.com/opensearch-project/security-dashboards-plugin/pull/1110)

[2022-10-27 22:00] aoguan1990 opened #1173 "[Enhancement]SAML Authentication can not be enabled with Anonymous"
**What is the bug?**
A clear and concise description of the bug.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Enable the following feature flag in opensearch_dashboards.yml
`opensearch_security.auth.type: 'saml'`
`opensearch_security.auth.anonymous_auth_enabled: true`
2. Go to OpenSearch Dashboards: http://localhost:5601/
3. Got Internal Exception:
![image](https://user-

[2022-10-28 16:18] j10ra opened #1166 "Access opensearch-security API in custom plugins?"
Hello Team,

I’m trying to create a custom plugin in opensearch-dashboard. Is there away I call opensearch-security api within my custom plugin?

eg: fetch('_plugins/_security/api/account)

I need to check if current loggedin user has an “all_access” role and perform some operations (ui or serverside) or if there is a way I can tap into opensearch-security within my custom plugin?

opensearch-dash

[2022-10-28 16:21] #1165 closed

[2022-10-28 16:24] peternied commented on #1165
Linked the pull request where this was resolved https://github.com/opensearch-project/security-dashboards-plugin/pull/965 and backported to the 1.3.5 patch release https://github.com/opensearch-project/security-dashboards-plugin/pull/1095

[2022-10-28 16:46] peternied commented on #1166
@j10ra When running OpenSearch Dashboards you'll have 2 servers running, one that is the 'backend' OpenSearch, the other that is the 'frontend' OpenSearch Dashboards.  Within your Dashboards plugin that first call hits the Dashboards endpoint and its associated APIs.

For the first version of the call, its being sent to the Dashboards APIs, and there is a registered route (no documentation) `/api/

[2022-10-28 16:46] #1166 closed

[2022-10-28 17:08] j10ra commented on #1166
I tried calling "/api/v1/auth/authinfo"
![image](https://user-images.githubusercontent.com/3077983/198692932-b46404dc-014b-4691-a225-3cdb048d5ac9.png)

Both a and b are 404

while c returns 200 it. it tags it as unsafe
[code]

I think I will just go ahead and use the console proxy for now.
Thank you @peternied!

[2022-10-31 14:44] ARud12 opened #1172 "Error: Failed fetching inputs: org.opensearch.OpenSearchSecurityException: no permissions for [indices:data/read/search] and associated roles[BUG]"
When deploying an alert and the monitor is triggered, the following error is seen: Error: Failed fetching inputs: org.opensearch.OpenSearchSecurityException: no permissions for [indices:data/read/search] and associated roles
The alert then goes into an error state and cannot be acknowledged.

[2022-10-31 16:28] peternied opened #1171 "Passing Integration tests CI on Windows"
Cypress and Jests tests only run on ubuntu linux distribution, we should update these workflows to work on Windows too.  There its alot of shared setup via https://github.com/opensearch-project/security-dashboards-plugin/issues/1156 that can be centralized while this work is underway.

[2022-10-31 16:29] peternied commented on #845
Note, I'm moving the integration test work out into its own task.  It was not a core requirement for the windows platform release and we can fast follow to get it included.

[2022-10-31 16:30] peternied commented on #1140
@RyanL1997 Adding you in to assist with the 2.4.0 release, thanks for asking to take this on!

[2022-10-31 17:15] peternied commented on #1171
@scrawfor99 This work would greatly benefit from https://github.com/opensearch-project/security/issues/2207 being available

[2022-10-31 19:38] cwperks commented on #1156
[Triage] @RyanL1997 Can you please update the issue with your findings?

[2022-10-31 19:41] scrawfor99 commented on #1156
Is this info helpful? https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts

[2022-10-31 19:47] cwperks commented on #1161
[Triage] @cliu123 Please provide more information and an example for how to do i18n?

[2022-10-31 19:52] cwperks commented on #1162
[Triage] Could you please use the issue template (https://github.com/opensearch-project/security-dashboards-plugin/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)? We're interested in learning more about what completion of this issue entails.

[2022-10-31 19:54] cwperks commented on #1163
@aoguan1990 Can this ticket be closed?

[2022-10-31 20:16] aoguan1990 commented on #1163
@cwperks Thank you so much for following up on this issue. Issue is addressed by the PR #1110. So close it.

[2022-10-31 20:16] #1163 closed

[2022-10-31 21:49] aoguan1990 commented on #1124
For single basic authentication mode with anonymous enabled, if anonymous user logout, the only way to login back with Anonymous user is to access OpenSearch Dashboards from a new window or browser. Otherwise, only basic login with valid username and password is required.

[2022-10-31 21:52] aoguan1990 commented on #1124
This issue is addressed by PR #1110. So closed this issue.

[2022-10-31 21:52] #1124 closed

[2022-11-01 13:56] shanilpa opened #1174 "[BUG] Documentation links in Dashboards security plugin don't deep link to the appropriate places"
**What is the bug?**
Throughout the security plugin in OpenSearch Dashboards external links to the OpenSearch documentation site only link to the homepage and do not deep link to the appropriate sections. This is a poor experience for users and asks them to navigate the docs site to find the appropriate section that will help them out.

**How can one reproduce the bug?**
Steps to reproduce the beh

[2022-11-01 17:02] kavilla opened #1175 "[BUG] can not run a release build of this plugin"
When running a release build of the security dashboards plugin on `main` I get the following:

`Error: Cannot find module '../../public/apps/configuration/utils/tenant-utils'`

[2022-11-01 19:06] peternied commented on #1175
@kavilla Can you revert the responsible change to get unblocked and then tag who made the change to get it reintroduced?

[2022-11-01 19:39] kavilla commented on #1175
@peternied i built it on 2.x but that doesnt have the most recent commit. @aoguan1990 @cliu123

[2022-11-01 20:12] scrawfor99 opened #1176 "[Proposal/Discussion] Regularly scheduled (bi-monthly? monthly?) open-to-the-public UX/UI input sessions"
**Proposal**
In light of the success of the security & security-dashboards open-invitation weekly triage meetings, the security-dashboards repository contributors would like to start having open-to-the-public feature review meetings.

Previously, the great designs of @shanilpa were commented on by some contributors but UX/UI seems an obvious area where greater attendance leads to an even better pr

[2022-11-01 20:20] shanilpa commented on #1176
Love this thanks for creating it @scrawfor99. I'd love to run these sessions! Totally agree there will be differences between the triage meeting, but we should be able to re-use some things from there. I'll keep this thread updated with my thoughts on how we can build this function out with UX and Research.

[2022-11-01 20:27] bandinib-amzn opened #1177 "[BUG] Dashboard fails to connect when using securityconfig"
@jonathon2nd commented on [Tue Nov 01 2022](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2712)

**Describe the bug**

Dashboard does not connect when trying to set and use different passwords.

**To Reproduce**
Steps to reproduce the behavior:
Deploy cluster from operator.

`securityconfig-secret` is taken from https://github.com/Opster/opensearch-k8s-operator/blob/main/opens

[2022-11-01 20:34] scrawfor99 commented on #1176
Perfect, I look forward to hearing your ideas and please let me know how I can help and what you need to best be able to facilitate meetings that will ease your design load.

[2022-11-01 20:45] Flyingliuhub opened #1178 "[Multitenancy] Switch tenant didn't work for cypress"
**What is the bug?**
We are using cypress to switch tenant, the tenant didn't change correctly, the data still write to previous tenant.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. default tenant is private.
2. change tenant to global tenant `CURRENT_TENANT.newTenant = 'global'`.
3. add sample data to global tenant as https://github.com/opensearch-project/opensearch-das

[2022-11-02 14:42] RyanL1997 commented on #1156
I have tried to build a reusable workflow for core setup (https://github.com/RyanL1997/security-dashboards-plugin/actions/runs/3330166123). Even the workflow can be reused, we cannot pass the up running server through the workflow.

[2022-11-02 14:45] jonathon2nd commented on #1177
Resolved: https://github.com/Opster/opensearch-k8s-operator/issues/340#issuecomment-1299770658

[2022-11-02 15:52] seraphjiang commented on #1178
Thanks @aoguan1990 for putting information together. I got a question to you and @Flyingliuhub

What does regular multiple authentication flow mean? what are missing from cypress test?

@Flyingliuhub is it only playground test case impacted

[2022-11-02 16:04] aoguan1990 commented on #1178
@seraphjiang

[2022-11-02 16:55] peternied commented on #1156
Ryan you are write dependent workflows won't work, however, I think `action` will provide this functionality, checkout https://github.com/opensearch-project/security-dashboards-plugin/pull/1164 to see an example.

[2022-11-02 16:59] cliu123 commented on #1175
[The latest integration test](https://github.com/opensearch-project/security-dashboards-plugin/actions/runs/3348609281/jobs/5547850215) passed.
@kavilla Would you lease provide the pointer to the build/logs?

[2022-11-02 17:16] peternied commented on #1177
@bandinib-amzn Seems like this issue has been resolved, closing out this issue.

[2022-11-02 17:16] #1177 closed

[2022-11-02 17:34] RyanL1997 commented on #1178
Hi, @Flyingliuhub @aoguan1990 and @seraphjiang , thanks for filling this issue and the providing follow up information. Functional test repo has overwritten the `visit()` and `request()` commands. By doing this, it will force users to set up test environment with basic auth header of `admin/admin` as default. According to this, if the multi-auth feature use some of the other authentication types o

[2022-11-02 17:40] seraphjiang commented on #1178
@RyanL1997
Could we confirm this is automation test issue, not an actual bug.

if Yes, test framework need to support authentication besides Basic Auth as action item.

cc: @tianleh

[2022-11-02 17:43] ylwu-amzn opened #1181 "[FEATURE] Add new ml-commons transport actions"
**Is your feature request related to a problem?**
We build several new transport actions in ml-commons for 2.4 release. So we need to add them to constants list.

**What solution would you like?**
Add to constants file.

**What alternatives have you considered?**
like this PR https://github.com/opensearch-project/security-dashboards-plugin/pull/912

**Do you have any additional context?**
N/A

[2022-11-02 17:44] aoguan1990 commented on #1178
@RyanL1997 Thank you so much for great support and hard working on deep diving into this issue. That is a very valuable point we need to consider when we explore the solution for multiple authentication cypress test. @davidlago

[2022-11-02 17:49] peternied commented on #1181
@ylwu-amzn It seems like this issue is for a pending pull request - we are happy to accept pull requests without issues associated with them so long as they capture the 'why' in their description.

[2022-11-02 17:57] ylwu-amzn commented on #1181
Oh, got it, I will publish a PR soon and explain why in PR description.

[2022-11-02 18:16] RyanL1997 commented on #1178
Hi @seraphjiang, According to the experiments I did, I think this "400 bad request" response only happened in Cypress testing environment. By login as a regular user, it can get normal response for API calls. (see picture below)

![Screen Shot 2022-11-02 at 2 10 55 PM](https://user-images.githubusercontent.com/109499885/199569222-343cb2ff-9daf-4684-be09-8735ee5872c6.png)

According to this, I dont

[2022-11-02 18:17] zengyan-amazon commented on #1178
can we update our cypress test cases to use cookie instead of using the authorization header ?

[2022-11-02 18:40] #1181 closed

[2022-11-02 19:01] seraphjiang commented on #1178
Thanks @RyanL1997 @aoguan1990 @Flyingliuhub @zengyan-amazon

Assuming there is no actual code bug, let's create github issue to follow up on test, and ship for 2.4.0

cc: @davidlago

[2022-11-02 19:11] cliu123 commented on #1175
The release build fails because some files in `/server` folder reference constants and functions that are declared in `/public` folder. Those constants and functions need to be moved to `/common` folder.

I'm working on a fix.

[2022-11-02 20:01] seraphjiang commented on #1178
@opensearch-project/transfer-request could we move this issue to https://github.com/opensearch-project/opensearch-dashboards-functional-test

[2022-11-02 21:17] cliu123 commented on #1175
@kavilla confirmed that PR https://github.com/opensearch-project/security-dashboards-plugin/pull/1184 unblocks the release build.

[2022-11-02 21:51] #1175 closed

[2022-11-02 22:18] cliu123 opened #1185 "[Enhancement] Add Release Bundle Build Workflow to CI"
The utils used in both `/public` folder and `/server` folder need to be declared in `/common` folder. Otherwise, the release bundle build would throw `Error: Cannot find module...`. These errors do not surface up till the release build so there is no effective way to catch them in development stage.

**Is your enhancement request related to a problem?**
The request comes from https://github.com/op

[2022-11-02 22:21] cliu123 commented on #1175
created an issue to track the follow-up action items: https://github.com/opensearch-project/security-dashboards-plugin/pull/1169

[2022-11-02 22:41] kavilla commented on #1185
One thing I think build repo is trying to implement is creating issues if a component fails to build in the component repo. But this would require more frequent builds which seems like the latest build was 15 days ago

[2022-11-03 07:07] #1101 closed

[2022-11-03 07:13] cliu123 commented on #1059
@nomopo45 @linuxboyng The featue allowing users to configure multiple authentication types(basic auth, SAML and OIDC) will be available in 2.4.0.0. Please try the feature and see if that is the solution that you are looking for.

[2022-11-03 07:25] cliu123 commented on #899
@SivaSentienz Could you please describe your use cases?

[2022-11-03 07:35] cliu123 commented on #543
The issue has been resolve with PR https://github.com/opensearch-project/security-dashboards-plugin/pull/1039

[2022-11-03 07:35] #543 closed

[2022-11-03 07:53] sastorsl commented on #911
Sorry for not responding earlier.

We are doing something like this how, only using an `socat` proxy.
However, I consider this a workaround, not a good solution, so in my mind this issue should not be closed.

A good solution would be that OpenSearch Dashboards supported proxy directly.
And the underlying software for dashboards do have support for proxies.

[2022-11-03 10:22] devardee opened #1188 "[BUG] UI is not reflecting the correct Mapped Users"
**What is the bug?**
When we create user and map roles using API, role mapping is not reflected in UI of "Mapped Users" section.

**How can one reproduce the bug?**
Steps to reproduce the behavior:

* Create a internal user using API. I have used below API call to create an internal user.

[code]
*  Go to Security -> Internal Users and you will be able to see that user has been created.

* Now go

[2022-11-03 16:25] peternied opened #1193 "[BUG] Intermittent test failure `Tenancy persisted after Logout in SAML`"
**What is the bug?**
Seeing intermittent test failures from `Tenancy persisted after Logout in SAML` [1]  The test failed on a run where no UX elements were modified

**How can one reproduce the bug?**
Unclear how to reproduce the bug, consult the build output for detailed failure information.

**What is the expected behavior?**
Tests should only fail when an error was introduced in the codebase,

[2022-11-03 16:51] RyanL1997 opened #1194 "[BUG] Unstable performance of SAML integration test case in CI"
**What is the bug?**
SAML integration test case is unstable during the CI run

**How can one reproduce the bug?**
By running the integration test in CI.

**What is the expected behavior?**
The performance of SAML integration test case should be more stable.

**What is your host/environment?**
Github Actions

**Do you have any screenshots?**
![Screen Shot 2022-11-03 at 12 48 35 PM](https://user-ima

[2022-11-03 16:56] peternied commented on #1194
@RyanL1997 This looks like a duplicate of an issue I just opened - would you like to pick one that we use to track this issue and close the other one as a duplicate? https://github.com/opensearch-project/security-dashboards-plugin/issues/1193

[2022-11-03 16:56] peternied commented on #1194
Aside - I love that you immediately filed an issue on this test failure!

[2022-11-03 17:00] RyanL1997 commented on #1194
Closing this now. Linking it to #1193 for tracking the same issue.

[2022-11-03 17:00] #1194 closed

[2022-11-03 17:30] cliu123 opened #1195 "[Flaky Tests] Windows UTs Are Flaky"
**What is the issue?**
Windows UTs fail intermittently. It has to be re-run when fails to unblock PR merge. For example:
https://github.com/opensearch-project/security-dashboards-plugin/actions/runs/3382915584/jobs/5618317617
https://github.com/opensearch-project/security-dashboards-plugin/actions/runs/3387653176/jobs/5628673899

@peternied Would you please take a look?

[2022-11-03 17:40] peternied commented on #1195
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
error An unexpected error

[2022-11-03 17:44] peternied commented on #1195
Note; registry.yarnpkg.com could be experiencing issues - so there might have been no way those builds could succeed

The timeout can be increased with `yarn install --network-timeout 600000` if you want to make an update [1]

[1] https://stackoverflow.com/a/70857301/533057

[2022-11-03 18:23] peternied opened #1196 "[FEATURE] Permissions lists CLUSTER_PERMISSIONS/INDEX_PERMISSIONS should be retrieved at runtime from plugins"
**Is your feature request related to a problem?**
Developers in the OpenSearch project have to update a file outside their repository to update the list of permissions that are shown in the security plugin's permission UX.

This makes testing updates difficult and requires coordination with an external team.  Since changes of this nature arrive toward the end of the release lifecycle it causes del

[2022-11-03 18:23] peternied commented on #1196
@ylwu-amzn What do you think of this proposal?

[2022-11-03 18:39] ylwu-amzn commented on #1196
Please prepare some RCF with high level design and discuss with all plugin teams and community.

[2022-11-03 19:00] peternied commented on #1196
Unfortunately I do not have bandwidth for this feature and I wanted to capture its essence before it slipped my mind.  This issue will be discussed during our open triage meetings [1] if you'd like to attend

[1] https://www.meetup.com/opensearch/events/bbrkzsydcpbkb/

[2022-11-03 21:04] dblock commented on #845
I am not sure why we say integration tests weren't part of this work. Reopening. Let's close when there's no gap between testing on Linux and Windows.

[2022-11-04 13:49] scrawfor99 commented on #1140
I can't check the boxes but I did the manifest.

[2022-11-04 18:32] peternied commented on #1140
It looks like this was closed by accident, there are many checklist items that are still incomplete

[2022-11-04 19:17] RyanL1997 commented on #1140
@scrawfor99 no worries, I will update that.

[2022-11-07 15:37] shcohen2002 opened #1200 "[BUG] SAML Invalid requestId error"
**Describe the bug**
Following the SAML configuration instructions https://opensearch.org/docs/latest/security-plugin/configuration/saml/
After IDP successfully authenticated my login, a SAML POST response from IDP to SP is sent and i am getting the following browser error (https://<ip_address>.ip.linodeusercontent.com/_opendistro/_security/saml/acs):
{ statusCode: 400, error: "Bad Request", messa

[2022-11-07 20:08] cliu123 commented on #1161
The guidline is that all the user visible text on UI needs to support i18n, for [example](https://github.com/opensearch-project/security-dashboards-plugin/blob/main/public/apps/configuration/utils/tenant-utils.tsx#L225).

[2022-11-07 20:47] cwperks commented on #1162
[Triage follow-up] Waiting for more details

[2022-11-07 20:48] cwperks commented on #1174
[Triage] Thanks for filing the issue @shanilpa ! This would make for a great first contribution.

[2022-11-07 20:56] cwperks commented on #1185
[Triage] @cliu123 Could you please provide an update?

[2022-11-07 21:01] cliu123 commented on #1195
The Windows checks should be disabled until it gets stablized.

[2022-11-07 21:02] cliu123 commented on #1195
The Windows checks should be disabled while we're exploring a way to stablize them.

[2022-11-07 21:18] aoguan1990 commented on #1162
@cwperks Thank you so much for following up on this issue. Updated the issue with `Feature Request` template. Please let me know if you have more questions.

[2022-11-07 21:30] cliu123 commented on #1185
Great point on creating issues from build repo! That would avoid plugins handling this check individually.
What's the frequency of nightly build? Would not nightly build catch this type of failures? If not, is it possible to increase the frequency?

[2022-11-08 02:36] devardee commented on #1200
acs url would require request id to validate the saml response. If you are doing IDP initiated login, you need to use `https://<ip_address>/_opendistro/_security/saml/acs/idpinitiated` instead of `https://<ip_address>/_opendistro/_security/saml/acs`.

[2022-11-08 08:22] shcohen2002 commented on #1200
Actually i did that and got statusCode 404 error code. And I have seen in the code that only these routes
https://<ip_address>/_opendistro/_security/saml/acs/idpinitiated
https://<ip_address>/_opendistro/_security/saml/acs
are legit but are not working for me.
I have also used a different test SP to check if the opensearch SP is causing the problem.
And the test SP was just fine.
Switching to a di

[2022-11-08 08:31] devardee commented on #1200
intresting, can you share the har file ?

[2022-11-08 08:48] shcohen2002 commented on #1200
Yes off-course. Here it is.
Please note that it is for the  https://<ip_address>/_opendistro/_security/saml/acs url.
If you want the https://<ip_address>/_opendistro/_security/saml/acs/idpinitiated i will need to setup the system again and run the test.
[ip_address.ip.linodeusercontent.com.har.zip](https://github.com/opensearch-project/security-dashboards-plugin/files/9959305/ip_address.ip.linodeu

[2022-11-08 08:54] devardee commented on #1200
yes, can you please capture the har file when `_opendistro/_security/saml/acs/idpinitiated` is set

[2022-11-08 09:45] shcohen2002 commented on #1200
Here it is. Thanks
[idpinitiated.ip.linodeusercontent.com.har.zip](https://github.com/opensearch-project/security-dashboards-plugin/files/9959789/idpinitiated.ip.linodeusercontent.com.har.zip)

[2022-11-08 10:08] devardee commented on #1200
ok, the error code is 400 (bad request, which is expected) for `_opendistro/_security/saml/acs` and 404 (not found, looks like there is no such route) for `_opendistro/_security/saml/acs/idpinitiated`.

[2022-11-08 11:46] devardee commented on #1200
got it, this is more likely a setup issue. I suggest you to close this issue and move the discussion to https://forum.opensearch.org/

[2022-11-08 19:27] cliu123 commented on #1140
@peterzhuamazon The step of publishing release and artifacts on Github is missing here. Should it be add to Post Release activities?

[2022-11-08 20:46] peternied commented on #1161
@cliu123 Could you please rewrite the description of this issue following the Bug Report or Feature Request template?  It is not clear to me how we know if this issue has been fixed or not.

[2022-11-08 20:53] peternied commented on #1200
Follow up to use the forums, closing out this issue, thanks!

[2022-11-08 20:53] #1200 closed

[2022-11-09 11:36] krisfreedain commented on #1176
Community team is up for supporting these efforts @cwperks @scrawfor99 - let's figure this out 😃

[2022-11-09 14:36] scrawfor99 commented on #1176
Hi @krisfreedain, thank you for your support. Right now, we are waiting to hear from @shanilpa about what he would like out of these meetings since they are intended as a catalyst for his UX/UI planning. I am happy to help moderate and run the meetings once we know more about what Shanil would like to do, but do not want to sign him up for anything which would be unhelpful or not what he wants.

[2022-11-10 15:01] jgough opened #1203 "[BUG] Shortlinks to other Tenants do not work"
**What is the bug?**
When visiting a shortlink URL, the tenant specified in the URL seems to be ignored and it tries to load the shortlink in the current tenant.
This seems related to https://github.com/opensearch-project/security-dashboards-plugin/issues/1012

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. In a cluster with more than one tenant, log into Dashboards
2. Go t

[2022-11-10 15:08] jgough opened #1204 "[BUG] Unable to switch tenants when visiting copied links"
**What is the bug?**
When visiting non-short URLs from the "Share" button, it is impossible to switch tenants

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. In a cluster with more than one tenant, log into Dashboards
2. Go to a page such as Discover, then click at the top Share -> Copy link (do NOT select Short URL)
3. Open a new tab and visit the copied URL.  This should

[2022-11-10 21:26] shanilpa opened #1205 "[FEATURE] Visibility of current tenant"
**What is the bug?**
Tenancy if enabled is a central concept in OpenSearch Dashboards however visibility into the tenant a user is currently in is hidden within menus or a few clicks away. This experience is frustrating for new and frequent users and can lead to the creation of Dashboard objects in the wrong tenant or confusion when they are loaded into a default tenant.

Currently if I want to se

[2022-11-11 15:11] shanilpa opened #1206 "[FEATURE] Custom tenant descriptions in tenant selector"
**What is the bug?**
Currently in the tenant selector modal we provide descriptions for the private and global tenant but we don't provide those descriptions for the custom tenant. In the tenant creation flow we ask users to populate a description.

As a user I may have many custom tenants and sometimes the name of the tenant might not provide me enough context on what the tenant is used for. By p

[2022-11-11 15:29] shanilpa opened #1207 "[FEATURE] Tenant and Role mapping flows are disjointed"
**What is the bug?**
To use multi-tenancy in OpenSearch Dashboards a user has to create a tenant and map roles to that tenant. Currently the role creation and tenant creation experiences are separate with no intuitive way for users to move from one to the other. For admin users this can be a frustrating, confusing, and click heavy experience.

**How can one reproduce the bug?**
Steps to reproduce

[2022-11-11 15:47] shanilpa opened #1208 "[FEATURE] Setting a default tenant through OpenSearch Dashboards UI"
**Is your feature request related to a problem?**
Currently in OpenSearch Dashboards there is no way for users to set a default tenant via the UI. For admin users this could be a beneficial feature that allows them to control which tenant a user loads into when they login to OSD.

**What solution would you like?**
An intuitive and simple flow that allows admin users to select an existing tenant an

[2022-11-11 15:57] shanilpa commented on #1208
Looks like issue https://github.com/opensearch-project/security-dashboards-plugin/issues/74 is related to this and has some good information

[2022-11-11 16:03] shanilpa opened #1209 "[FEATURE] Getting started page is confusing and could use improvements"
**Is your feature request related to a problem?**
Currently the getting started page for the Security Plugin provides valuable links to key parts of configuring security related things in Dashboards. However, this page is a little confusing and has several UX issues. There is also missing links to things like tenancy and configuring those.

Some noticed issues include:
1. Documentation links not g

[2022-11-11 16:09] shanilpa opened #1210 "[FEATURE] Disable private tenants through UI"
**Is your feature request related to a problem?**
Currently the private tenant can not be disabled in OpenSearch Dashboards. Some users may not require the benefits offered by a private tenant and therefore should have the option to disable this tenant type.

**What solution would you like?**
A clear an intuitive experience for users to disable the private tenant type in dashboards via the UI

[2022-11-11 20:54] cliu123 opened #1211 "[Test Failures] UTs Are Flaky on Windows. To Fix and Re-enable Later."
**What is the bug?**

UTs Are Flaky on Windows. Disabling it for now with https://github.com/opensearch-project/security-dashboards-plugin/pull/1202. It will be re-enabled after a fix gets applied.
[code]

[2022-11-14 20:23] peternied commented on #1161
[Triage] @cliu123 Could you please include details on how to accomplish this internationalization?  Is there documentation that describes how this is done or how it can be verified?

[2022-11-14 20:25] peternied commented on #1162
[Triage] @aoguan1990  Thanks for updating the description!

[2022-11-14 20:31] peternied commented on #1176
[Triage] Thanks for using this issue to discussion how / if we run these UX/UI meetings.  Lets keep this open until A) we decide to move in another direction or B) when we document the meeting(s)

[2022-11-14 20:37] peternied commented on #1188
[Triage] @RyanL1997 Can you look into this issue to see what the scenario is, technically this looks correct, however this behavior is confusing to users.

@shanilpa Can you look into how we want to support these scenarios?

[2022-11-14 20:41] peternied commented on #1196
@dagneyb This sounds like its related to registration points and other extensibility features - is there an overall effort this should be attached to?

[2022-11-14 20:52] peternied commented on #1204
[Triage] This is likely related to the current tenant being stored in the browsers local storage which does not work well for multi-browser scenarios

[2022-11-14 20:54] peternied commented on #1204
[Triage] This could also be because the url includes the specified tenant and is preventing the updated tenant from being picked.

[2022-11-14 22:58] peternied commented on #1193
@cwperks  Saw another failure on this test, slightly after the area you recently addressed, mind taking a look at it?

Feel free to use from this workflow as a starting point for testing reliability, https://github.com/peternied/security-dashboards-plugin/blob/main/.github/workflows/unit-test-many.yml

[code]

[1]  https://github.com/opensearch-project/security-dashboards-plugin/actions/runs/34656

[2022-11-15 00:13] jgough commented on #1204
Looks like this might be a dupe of https://github.com/opensearch-project/security-dashboards-plugin/issues/665 which was closed in favour of https://github.com/opensearch-project/security-dashboards-plugin/issues/123

[2022-11-15 00:14] jgough commented on #1203
Looks like https://github.com/opensearch-project/security-dashboards-plugin/issues/123 may be of interest here

[2022-11-15 08:07] jgough commented on #123
I think this may be a necessity to fix #1203 and #1205 rather than just a feature request.  The current tenant implementation seems very broken for anything other than extremely simple access.

When accessing Dashboards with multiple tabs, or when sharing links to multiple tenants it is almost unusable as you often end up in the wrong tenant.  I'm afraid to say it's my number 1 frustration with Da

[2022-11-15 14:23] deepak-rsystems opened #1284 "[BUG] Index patterns not loaded after creation of the index template for all indices pattern "*""
**Describe the bug**

If we load an index template for all indices "*" pattern (before dashboards pod starts and is up) with following template settings, indices patterns are not loaded anymore and saved objects are also not visible anymore and we get "Unable find saved objects" error on screen.

`"template" : {
          "settings" : {
            "index" : {
              "routing" : {

[2022-11-15 16:39] #1211 closed

[2022-11-15 16:39] #1195 closed

[2022-11-15 20:23] RyanL1997 opened #1217 "[Documentation] Add documentation for Cypress test cases"
### Issue Description
The functional tests of security-dashboards-plugin is currently based in the functional test repo. Even the FTR has the description of how to onboard test cases, we should also documents that in the `README.md` and `DEVELOPER_GUIDE.md` guide of security-dashboards-plugin repo itself.

### Actions to Address this Issue
Document current Cypress test workflow with some instructi

[2022-11-16 06:17] devardee commented on #1188
@peternied , I would also like to contribute on this

[2022-11-16 17:12] aoguan1990 commented on #1138
@olddanmer I noticed that you enable `anonymous_auth_enabled: true` in your config.yml. Can you please provide more details for your authentication user cases?

[2022-11-16 17:45] RyanL1997 commented on #1188
Hi @devardee, thanks for filling this issue. Here are some outputs from my side according to the reproduction of this issue:
1. By running the following I created a internal user without specifying the `opendistro_security_roles`:
[code]
2. And then I run this following commands to create a roles mapping for `all_access`:
[code]
3. I went to the `Security`>`Roles`>`all_access` to check the mapping

[2022-11-17 15:54] mrsiejas commented on #836
Getting 401 despite running 2.3 on Amazon OpenSearch
[code]
 on `/_dashboards/_opendistro/_security/saml/acs`, which makes me think it is not necessarily version related.

[2022-11-21 18:53] peterzhuamazon commented on #845
Hi, just want to make sure this issue is closed, if all the tasks are completed.

Thanks.

[2022-11-22 05:42] AMoo-Miki opened #1222 "[FEATURE] Use index templates for `tenant_template`"
**Is your feature request related to a problem?**
https://github.com/opensearch-project/security-dashboards-plugin/blob/main/server/multitenancy/tenant_index.ts#L41-L62

Since the legacy template currently being used can be overridden by index templates, it would be better to have `tenant_template` created as an index template and with the highest possible `priority` for protect all `.kibana*` sys

[2022-11-22 05:50] cliu123 commented on #1222
@AMoo-Miki Thanks for filing the issue! I'm changing `priority` to `order`.

[2022-11-22 08:59] dimittal opened #1264 "[BUG] Visualizations created via Saved Objects API do not show up in the web."
**Describe the bug**
Visualizations created via Saved Objects API are not showing in OpenSearch Dashboard in the visualization section but are accessible via API. Similarly, the visualizations created from the web aren't accessible via Saved objects API.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Visualizations
2. Create a new line visualization from your index pattern
3. Go to sa

[2022-11-22 17:51] violetaria opened #1223 "[BUG] cluster:monitor/tasks/lists not available when adding cluster permissions"
**Describe the bug**

When creating a new security role, I'm unable to add `cluster:monitor/tasks/lists` to the permissions as it's not recognized. However, that role is [required to list tasks](https://github.com/opensearch-project/OpenSearch/blob/a1ceff41b9ae9508e68751d98999ddc843daf5d1/server/src/main/java/org/opensearch/action/admin/cluster/node/tasks/list/ListTasksAction.java#L45
)

**To Repr

[2022-11-22 21:51] anubisg1 opened #1224 "expand multiple-authentication to support anonymous login"
**Is your feature request related to a problem? Please describe.**

As per title, the request is to add an option to support anonymouys login to the multiple authenticaton feature
https://opensearch.org/docs/latest/security-plugin/configuration/multi-auth/

**Describe the solution you'd like**

A button to be added with a tytle "continue as a guest" or similar, for anonymouys user

**Describe alte

[2022-11-23 00:25] AMoo-Miki commented on #1222
@cliu123 AFAIK, index templates don't use `order` and use `priority`.

Why would this plugin want to allow overriding its mapping or configuration? Even a tiny bit of change to this template would break the functionality of Dashboards.

[2022-11-23 10:56] rutuja-amazon opened #1225 "[BUG] Setting default route does not change from `/app/home` for IDP auth"
Setting default route does not change from `/app/home` for IDP initiated Authentication

Steps to reproduce the behavior:
Login to dashboards, change default route - no issues here
On SDP initiated auth - throws `403` access denied error

New route should get updated without error.
Fix:
To change hard-coded route here: https://github.com/opensearch-project/security-dashboards-plugin/blob/main/serv

[2022-11-23 16:20] domruf opened #1227 "[BUG] BadCredentialsException when using Openid with Azure"
**Describe the bug**

When configuring Azure as a IdP for OIDC I get an exception

[code]
and in the browser it says '{"statusCode":401,"error":"Unauthorized","message":"Unauthorized"}'

**To Reproduce**
Steps to reproduce the behavior:
1. configure openid in plugins/opensearch-security/securityconfig/config.yml
2. configure openid in config/opensearch_dashboard.yml as described at https://opensea

[2022-11-24 08:29] shcohen2002 commented on #836
opensearch-2.8.0   2.4.0
opensearch-dashboards-2.6.0   2.4.0

[2022-11-24 08:39] shcohen2002 commented on #836
Just tried _opendistro/_security/saml/acs , _opendistro/_security/saml/acs/idpinitiated
Using helm versions:
CHART                                           APP VERSION
opensearch-2.8.0                         2.4.0
opensearch-dashboards-2.6.0   2.4.0

And got the following error:
{"statusCode":400,"error":"Bad Request","message":"Request must contain a osd-xsrf header."}

Trying /_plugins/_securi

[2022-11-28 14:50] scrawfor99 commented on #1171
@peternied The actions should be all set!

[2022-11-28 15:58] peternied commented on #1193
@cwperks Looks like you had a PR for this issue that you ended up closing out, anything that would be useful to put on to this issue for how we move forward?

[2022-11-28 16:19] cwperks commented on #1193
I wasn't able to get the test working reliably. @RyanL1997 is now setup to run these auth tests locally and has been looking into test reliability.

What I recommend for anyone who picks up the issue is to run the integration tests in parallel using github. You can modify the `.github/workflows/integration-test.yml` and add a `matrix` section like so:

[code]

which helps show test reliability if

[2022-11-28 17:28] RyanL1997 opened #1228 "[Various Issues] SAML Integration Tests"
### Description ###
This issue is targeting on tracking recent fixes/enhancement for SAML integration test in following aspects:
- Missing Firefox driver setup for the latest update of Selenium [1].
- Failing reusable action of integration test workflow [2].
- Unstable of tenants switching in SAML integration test case [3].

Please use this issue to track the following tasks for SAML integration t

[2022-11-28 20:37] RyanL1997 commented on #1161
Closing this one for lack of informations.

[2022-11-28 20:37] #1161 closed

[2022-11-28 20:40] RyanL1997 commented on #1178
@opensearch-project/transfer-request Could we transfer this issue to https://github.com/opensearch-project/opensearch-dashboards-functional-test? It seems like it is still in security dashboards repo.

[2022-11-28 20:43] RyanL1997 commented on #1207
[Triaged] @shanilpa I will follow up with you to see if we can have a demo userflow on this one.

[2022-11-28 20:48] RyanL1997 commented on #1208
[Triaged] @shanilpa Thanks for filing this request. I will follow up with you.

[2022-11-28 20:52] RyanL1997 commented on #1209
@shanilpa Could you please provide more details on this one?

[2022-11-28 20:58] RyanL1997 commented on #1210
@cliu123 Could you please follow up and share you opinions on this request?

[2022-11-28 21:00] RyanL1997 commented on #1217
[Triaged]

[2022-11-28 22:51] peternied commented on #1171
@scrawfor99 Thanks for your work making those actions generic, this work should be much easier since that has been done.

[2022-11-29 00:37] cliu123 commented on #1210
The settings to enable/disable private/global tenants are static settings. User can change the settings only in yml file. Exposing the settings to UI would require to make the settings dynamic.

[2022-11-29 19:14] peternied commented on #845
This is not complete, it is still a work in progress, I've removed the 2.4.0 label

[2022-11-29 19:15] peternied commented on #1171
@ryanbogan Can you look into getting these tests running on Windows CI, should be much easier with the new job - I think you might already be tracking getting this done.

[2022-11-29 19:31] peternied commented on #1225
@DarshitChanpura Could you look into this?

[2022-11-29 19:49] peternied commented on #1210
While this is a good user facing feature in terms of the security plugin, I don't think the security plugin is the correct place to make this change.  There should be a shared mechanism for dashboards to modify these 'yml file' changes

@shanilpa During triage you mentioned there was an 'administration' workstream to that might tackle scenarios like this.  Could you link this issue to that effort

[2022-11-29 19:49] #1210 closed

[2022-11-30 19:01] mnkugler opened #1232 "[BUG] Repo name doesn't adhere to plugins naming convention"
This repo is named "security-dashboards-plugin"

As per https://github.com/opensearch-project/opensearch-plugins/blob/main/CONVENTIONS.md#opensearch-plugins, the repo name should not include the word "plugin", and the name should be prefixed with "dashboards-".

Referred to here:
https://github.com/opensearch-project/opensearch-plugins/issues/174